############################
# Maven
############################
target/
dependency-reduced-pom.xml

############################
# Logs
############################
logs/
*.log

############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.ipr
*.iws

############################
# STS / Eclipse
############################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

############################
# NetBeans
############################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

############################
# VS Code
############################
.vscode/

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Archives / Binaries
############################
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz